
body{

  margin: 0;
}

header{

  box-shadow: 0 3px 5px #cccccc;
  padding: 9px 0;
  position: relative;
  z-index: 1;
}

.container{

  width: 1200px;
  margin: auto;
}

.navbar{

  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

li.navItem{

  display: inline;
  border-right: 1px solid #777777;
}

li.navItem a {

  padding: 0 9px ;
  color: #555555
}

li.navItem a:link{

  text-decoration: none;
}

li.navItem a:hover{

  text-decoration: underline;
  color:#0654BA;
}

#SignInStyle a:link {

  color:#0654BA;
  padding: 0;
}

#SignInStyle a:link:last-child{

  padding-right: 16px;
}

.FloatRight{

  float: right;
}

.NoBorder{
  border-right: none !important;

}

#alert{
  margin-top: -5px;
  padding:0 15px 0 25px;

}

#cart{

  margin-top: -2.5px;
  padding:0 35px 0 25px;
}

/*-------------- Search Form -------------->*/

#SearchBar {

  width: 100%;
  height: 65px;

  overflow: hidden;
}

.SetBGColor{

  background-color: #f9f9f9;
}

.ClearFix{

  clear: both;
}

#brand{

  float: left;
}

#ShoppingButton{

  float: left;

  width: 70px;

  font-size: 14px;
  color: #555555;

  border: none;
  background-color: #f9f9f9;

  margin-right: 15px;
}

#arrow{

  position: relative;
  bottom: 40px;
  left:40px;
}

#SearchForm{

  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

#SearchField{

  border-radius: 3px 0 0 3px;
  width: 630px;
  height: 40px;

  box-sizing: border-box;
}

.TextField{

  font-size: 16px;
  color: #767676;
  padding: 10px 0 9px 8px;

  border: 1px solid #ddd
}

#CategoryTextfield{

  border-radius: 0 3px 3px 0;
  padding: 11px 10px 11px 10px;
  height: 40px;
  width: 180px;
  background-color: #fff;

  box-sizing: border-box;

  margin-left: -4px;
}

.options{

  border: none;
  font-size: 12px;
  width: 100%;

  background-color: transparent;

}

.BtnPrimary{

  font-size: 16px;
  height: 38px;

  font-weight: 500px;
  border-radius: 3px;
  Border:0;

  color: #fff;
  background: linear-gradient(to bottom, #0079bc,#00509d);
}

.BtnPrimary:hover{

  background: #00509d;
}

#AdvancedButton{

  color: #555555;
  text-decoration: none;
  font-size: 11px;
  margin-left: 10px;
}

#AdvancedButton:hover{

  color: #0654ba;
}


/*------------- Navigation Bar --------------*/

nav{

  width: 100%;
  height: 35px;

  padding-top: 10px;
}

.TbBorder{

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#NavigationBar{

  width: 100%;
  height: 35px;
  box-sizing:border-box;

  padding: 10px 0 11px 0;
}

.LiSpace{

  float: left;
  padding: 0 2%;
}

.DivIder{

  width: 1px;
  height: 24px;
  background: #ddd;
  float: left;

  margin: -5px 20px 0 20px;
}

.active a{

  font-weight: bold;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 2px solid #555;

  padding-bottom: 5.5px !important;
}

.active a:hover{

  text-decoration: none !important;
  color: #555 !important;
}


/* -------------- Advertisement -------------- */


#AdSection{

  height: 402px;
  padding: 32px 0;
}

#colume1{

  float: left;
  height: 402px;
}

#colume2{
  position: relative;

  float: left;
  height:402.8px;
  width: 324px;
}

.AddBorder{

  border: 1px solid #ddd;
  box-sizing: border-box;
}

#ad2{

  position: absolute;

  top: 0;
  right: 0;
}

#ad3{

  position: absolute;

  right: 0;
  bottom: 0;
}


/* -------------- Product section -------------- */


#ProductSection{

  width: 100%;
  height: 647px;

  padding-bottom: 75px;

  overflow: hidden;
}

.HeroHeading{

  height: 45px;
  border-bottom:  1px solid #ddd;

  font-weight: 400;
  color: #555;
}

#ShowProduct{

  position: relative;
  width: 100%;
  height: 602.5px;
}

.product-section{
  float: left;

  width: 585px;
  height: 602.5px;
}

.ProductPhoto{

  width: 585px;
  height: 420px;
}

.PhotoColume1{

  float: left;
  width: 445px;
  height: 420px;

  border-width: 1px 0 1px 1px;
  border-color: #ddd;
  border-style: solid;

  box-sizing: border-box;
  overflow: hidden;
}

#photo1{

  height: 418px;
  position: relative;
  left: -100px;
  overflow:hidden;
}

.PhotoColume2{


  width: 140px;
  height: 420px;

  box-sizing: border-box;
  overflow: hidden;
}

.thumb{

  width: 140px;
  height: 140px;

  border-width: 1px 1px 0 1px ;
  border-color: #ddd;
  border-style: solid;

  box-sizing: border-box;
  overflow: hidden;
}

.thumb:last-child{

  border-width: 1px 1px 1px 1px ;
  border-color: #ddd;
  border-style: solid;
}

.ThumbMail{

  height: 140px;
}

#ThumbMailFix{

  position: relative;
  right: 20px;
}


/* -- -------------- Article ------------- -- */


article{

  color: #333333;
}

.title{

  font-weight:400;
  font-size: 26px;

  margin: 18px 0 10px 0 ;
}

.DescriptionContainer{

  width: 370px;
  height: 118px;
}

.ProductDetails{

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5em;
}

.ReadMore{
  display:inline-block;

  background-image: url("img/readmore.png");
  width: 28px;
  height: 28px;
  background-size: cover;

  vertical-align: middle;
}

.LeftCol{

  float: left;
  width: 440px;
}

.RightCol{

  float: right;
  width: 140px;
}

.RightColText{

  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}

.RightColContainer{

  padding-left: 8px;
  padding-right: 8px;
  margin: 0;

  list-style-type: none;
}

.RightColItem{

  padding: 18px 0;
  border-bottom: 1px #ddd solid;
}

.RightColItem:last-child{

  border-bottom: none;
}

.RightColItem a:link{

  text-decoration:none;
  color: #0654ab;
}

.RightColItem a:hover{

  text-decoration:underline;
  color: #0654ab;
}

/*-- ------ Product section2 ------ --*/


.RightSec{

  position: absolute;
  right: 0;
}

#PhotoAdjust{

  height: 420px;
}



/* - -- ------ Daily Deals ------ -- - */


#DailyDeals{

  width: 100%;
  height: 530px;
  overflow: hidden;
  padding-bottom: 75px;
  border-bottom: 1px solid #ddd;
}

.box{

  width: 100%;
  height: 300px;
  padding: 25px 0 0 8px;
  vertical-align: middle;
  overflow: hidden;
  border: #ddd solid 1px;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 80px;
}

.BoxSubcontain{

  float: left;
  width: 190px;
  margin: 0 24px;
}

.Sale{

  width: 169px;
}

.details{

  width: 180px;
  display: inline-block;
  font-size: 14px;
  padding: 8px 0 0 8px;
  color: black;
  text-decoration: none;
}

.details:hover{

  text-decoration: underline;
  color:#0654ba;
}

.price{

  padding: 8px 0 0 8px;
  margin: 0;
}

/* --------------pagination------------- */

.pagination{

   text-align: center;
}

.PaginationContainer{

  padding-top: 8px;
  display: inline-block;
}

.PaginationContainer a{

  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;

  transition: background-color 0.3s;
}

.PaginationContainer a:hover:not(.active){

  background-color: #ddd;
}

.PaginationContainer a.active{

  background-color: #4caf50;
  color:white;
}


/* --------------Collections------------- */


#collections{

  border:1px solid #ddd;
  width: 1210px;
  background-color: white;
  border-radius: 2px;
  text-align: center;


  color: #777777;
  box-sizing:border-box;
}

 #collections a{

   text-decoration: none;
   color: #0654ba;
 }

 #collections a:hover{

   text-decoration:underline;
   color: #0654ba;
 }


/* --------------Footer------------- */


footer{

  color: #777777;
}
